<div class="center hero-unit">
  <h1>Welcome to Stage Time</h1>
  <h2>
  Sign up to start keeping track of your stage time!
  </h2>
  
  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>
