<% provide(:title, 'Resume') %>
<div class="resume">
<h1> Alex White </h1>
	
	<h4> Contact </h4>
	<ul>
		<li>2338 Telegraph Avenue Apt. A, Oakland CA 94612 
		<li>(510) 287-6126  
		<li> <a href="mailto:awhit012@gmail.com"> awhit012@gmail.com </a>
	</ul> 

	<h4> Web </h4>
	<ul>
		<li> <a href="http://www.github.com/awhit012"> github.com/awhit012 </a>
		<li> <a href="https://twitter.com/ChompTheFuture"> @chompthefuture </a>
		<li> <a href="http://www.codecademy.com/alexcwhite"> codeacademy.com/alexcwhite </a>
		<li> <a href="http://www.brainchomp.wordpress.com"> brainchomp.wordpress.com </a>
	</ul>

	<h4> Skills </h4>
	<ul>
		<li> Self taught in HTLM, CSS, Python, Ruby, Rails
		<li> Completed rails tutorials: <a href= "http://ruby.railstutorial.org/"> Rails Tutorial </a> and <a href= "learn-rails.com"> Learn Ruby on Rails</a>, learned the following skills: 
			<ul>
				<li>Create/ Setup Rails Environment
				<li>Generate models, controllers, migrations
				<li>Manage a database using migrations
				<li>Test driven development using rspec
				<li>Handle GET and POST requests using a Controller, Model, and View
				<li>Git commit, push, clone, and branch
				<li>Deploy to web using Heroku
				<li> Version controll
			</ul>
		<li> Created functional search engine using Python following <a href="https://www.udacity.com/course/cs101"> udacity.com/cs101 </a>
		<li> Learned many skills on CodeAcademy including a basic understanding of JavaScript and APIs
	</ul>

	<h4> Formal Education </h4>
	<ul>
		<li> Bachelors in Cultural Anthropology at UC Santa Barbara
			<ul>	
				<li> Learned about culture, what creates culture and what is necessary to change culture. As a developer I wish to work on projects that change culture. 
			</ul>
	</ul>
	<h4>Work History </h4>
	<ul>
		<li> Tiny Techs Club 
			<ul>
				<li> After School Program Instructor in Robotics
				<li> 2014
			</ul>
		<li> Hugh Growman Catering
			<ul>
				<li> Catering Chef
				<li>2011-2013
			</ul>
	</ul>
	<h4> Stand Up Comedy </h4>
	<ul>
		<li> Performed at Comedy Clubs and venues all over California
		<li> 2009-2014

</div>
