<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @user.name %>
      </h1>
      <div> Enter stage time today in minutes: </div>
      <div class="span4">
    <%= form_for(:stagetime, url: root_path) do |f| %>
      <%= f.text_field :stagetime %>
      <%= f.submit "Log Stage Time", class: "btn btn-medium btn-primary" %>
    <% end %>
    </section>
  </aside>
</div>