<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @user.name %>
      </h1>
      <br>
      <div class="track"> Enter stage time today in minutes: <br>
        <%= form_for(:stagetime) do |f| %>
        <%= f.text_field :stagetime %>
        <%= f.submit "Log", class: "btn btn-medium btn-primary" %>
      </div>
    <% end %>
    </section>
  </aside>
</div>